ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.left-forms-container {
  margin: 0px 50px;
}

.right-review-container {
  margin: 0px 50px;
}

.review-title {
  width: fit-content;
  padding: 10px 0px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.review-section {
  width: 350px;
  padding: 10px 0px;
  border-bottom: 1px solid black;
}

.review-highlight {
  background-color: rgba(255, 255, 0, 0.192);
  width: fit-content;
}

.add-experience {
  margin-left: 50px;
}

@media (max-width: 480px) {

  .content-container {
    flex-direction: column;
  }

  .review-section {
    width: 90%;
    padding: 10px 0px;
    border-bottom: 1px solid black;
  }
}